.profile__edit {
    width: 24px;
    height: 24px;
    background-image: url('../../../images/profile-edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    margin-top: 19px;
    margin-left: 17px;
}