.profile__edit {
    max-width: 24px;
    min-height: 24px;
    background-image: url('../../../images/profile-edit.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    align-self: flex-start;
    margin-top: 37px;
}