@import url('./__about/profile__about.css');
@import url('./__avatar-container/profile__avatar-container.css');
@import url('./__avatar/profile__avatar.css');
@import url('./__info/profile__info.css');
@import url('./__data/profile__data.css');
@import url('./__name/profile__name.css');
@import url('./__about-self/profile__about-self.css');
@import url('./__edit/profile__edit.css');
@import url('__add-place/profile__add-place.css');

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
}


@media screen and (max-width:720px) {
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .profile {
        margin-bottom: 36px;
    }
}
