.profile__add {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    background-color: black;
    background-image: url('../../../images/profile-add.svg');
    background-repeat: no-repeat;
    background-position: center;
}