@import url('./_disabled/elements__like_disabled.css');
@import url('./_active/elements__like_active.css');

.elements__like {
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    min-height: 18px;
    align-self: center;
    transition: opacity 0.2s, transform 0.2s linear;
    border: 0;
}

.elements__like:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.2);
}
