.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 21px 18px;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width:600px) {
    .elements__list {
        gap: 20px;
    }
}